.about {
  height: 100vh;
}
.about-hero-img {
  width: 100%;
  height: 400px;
  max-width: 400px;
}

.about-hero-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about-body {
  background: rgba(27, 13, 3, 0.815);
  padding: 3rem 1rem;
}
.about-body h1 {
  font-family: Robot, serif;
  font-size: 1.8rem;
  font-weight: 300;
  color: #19a9d4;
}
