.about-hero-img {
  width: 100%;
  height: 400px;
  max-width: 400px;
}

.about-hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-body {
  background: rgba(27, 13, 3, 0.815);
  padding: 3rem 1rem;
}
.about-body h1 {
  font-family: Robot, serif;
  font-size: 1.8rem;
  font-weight: 300;
  color: #19a9d4;
}

.about-body p {
  padding: 0.5 0;
  word-wrap: break-word;
  color: var(--mainWhite);
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.4;
  text-justify: justify;
}
