.review-header {
  padding: 4rem 0.5rem 2rem; 
  background: rgba(27, 13, 3, 0.815);
  text-align: center;

}

.review-header h1 {
  color: #19a9d4;
  font-family: var(--headerFont);
  font-style: italic;
  font-size: 1.3rem;
  padding: 1rem 1.5rem 0.3rem;
}
.review-header span {
  display: block;
  color: white;
  margin-top: -1rem;
  font-weight: 300;
  

}
