/* sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
  color: #ffffff;
  padding: 3rem;
  transform: translateY(-100%);
  transition: all 0.2s linear;
  z-index: -100;
}
.sidebar.open {
  transform: translate(0);
  z-index: 400;
}

.activeClass {
  color: goldenrod;
  font-weight: 900;
  font-size: larger;
}
