.contact {
  /* padding: 4rem 0 0; */
}

/* input,
textarea {
  display: block;
  width: 90%;
  height: 4rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 0.5rem 0.7rem;
  border: 0.5px solid;
}

textarea {
  height: 10rem;
} */
/* ::placeholder {
  font-size: 1rem;
  color: black;
} */

.form-message {
  display: flex;
  flex-direction: column;
  padding: 4rem 1rem 1.5rem;
  background: var(--mainBlack);
  color: white;
}

.form-message h2 {
  padding: 2rem 1rem 2rem;
  text-align: center;
  color: rgba(0, 195, 255, 0.822);
}

button {
  padding: 1.5rem 1rem;
  font-size: 1.1rem;
  color: black;
  background: rgba(0, 195, 255, 0.822);
  display: block;
  border: none;
  width: 90%;
  margin: 0 auto;
}

.form-contact {
  background: #4fb6dfb2;
  padding: 1.5rem 1rem;
}

.form-contact h2 {
  font-family: Robot, serif;
  font-size: 1.6rem;
  font-weight: 300;
  padding: 1rem 0 1rem;
  color: white;
  text-align: center;
}

.form-contact button {
  background: white;
}

.form-contact input,
.form-contact textarea {
  width: 99%;
  border: none;
  background: transparent;
  border-bottom: 1px solid white;
}

.form-contact input::placeholder,
.form-contact textarea::placeholder {
  color: white;
}

.form-contact input:hover,
.form-contact textarea:hover {
  border: 0.5px solid white;
  outline: none;
}

@media screen and (min-width: 768px) {
  .form-message {
    width: 100%;
    max-width: 45rem;
    padding: 1rem;
    margin: 4rem auto;
  }
  .form-message h2 {
    font-size: 1.8rem;
  }

  .form-contact {
    width: 90%;
    max-width: 45rem;
    padding: 1rem;
    margin: 2rem auto;
  }
}
