@media screen and (min-width: 769px) {
  .desktopbar {
    flex-direction: column;
    padding: 1.5rem;
  }

  .menu-logo {
    /* padding: 2rem; */
    margin-top: -1rem;
    margin-bottom: 3.5rem;
  }

  .desktopbar ul {
    margin-top: 1.5rem;
    width: 80vw;
    text-align: center;
    margin: 3rem 5rem;
  }

  .desktopbar a {
    word-wrap: normal;
    width: 100%;
    text-align: center;
  }
  .text-desknav {
    color: white;
  }

  .activeClass {
    color: goldenrod;
    /* font-weight: 600; */
  }
}
