.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: #000;
  padding: 1rem 1rem 0.5rem;
}

.menu-logo {
  font-family: var(--headerFont);
  color: var(--mainWhite);
  word-wrap: normal;
  text-transform: uppercase;
  padding: 1.5rem 0.5rem;
  text-align: center;
  letter-spacing: 1.2px;
  text-decoration: none;
}

.menu-btn {
  margin-right: -1rem;
}

.menu-item {
  display: none;
}

@media screen and (min-width: 769px) {
  .navbar {
    flex-direction: column;
    padding: 1.5rem;
  }

  .menu-logo {
    /* padding: 2rem; */
    margin-top: -1rem;
    margin-bottom: 3.5rem;
  }

  .menu-btn {
    display: none;
  }
  .navbar ul {
    margin-top: 1.5rem;
    width: 80vw;
    text-align: center;
    margin: 3rem 5rem;
  }

  .navbar a {
    word-wrap: normal;
    width: 100%;
    text-align: center;
  }
  .text-desknav {
    color: white;
  }

  .activeClass {
    color: goldenrod;
    /* font-weight: 600; */
  }
}
