.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: var(--black);
  padding: 1.5rem 1rem 1.5rem;
  z-index: 1;
}

.menu-logo {
  font-family: var(--headerFont);
  color: var(--mainWhite);
  font-size: 1.4rem;
  word-wrap: normal;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  padding: 1.5rem 0.5rem;
  text-align: center;
  letter-spacing: 1.2px;
  text-decoration: none;
}

.menu-btn {
  margin-right: -1rem;
  margin-top: 0.5rem;
}

.menu-item {
  display: none;
  margin-top: 0.5rem;
}

@media screen and (min-width: 769px) {
  /* .navbar {
    flex-direction: column;
    padding: 1.5rem;
  } */

  .menu-logo {
    /* padding: 2rem; */
    /* margin-top: -1rem;
    margin-bottom: 3.5rem; */
  }

  .menu-btn {
    /* display: none; */
  }
  .navbar ul {
    /* margin-top: 1.5rem;
    width: 80vw;
    text-align: center;
    margin: 3rem 5rem; */
  }

  .navbar a {
    /* word-wrap: normal;
    width: 100%;
    text-align: center;
    font-family: var(--);
    font-size: 1.5rem; */
  }
  .text-desknav {
    /* color: white; */
  }

  .activeClass {
    /* color: goldenrod; */
    /* font-weight: 600; */
  }
}
