.container-slider {
  max-width: 100%;
  height: 75vh;
  position: relative;
  overflow: hidden;
}

.carousel-image-div {
  width: 100%;
  height: 75vh;
}

.container-slider img {
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
  margin-bottom: 2rem;
}

.prev,
.next {
  position: absolute;
  display: none;
  top: 200px;
  transform: translateY(-50%);
  color: white;
  width: 2rem;
  height: 2rem;
  font-weight: 200;
  background: transparent;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s linear;
}

.prev {
  left: 0;
  display: none;
}
.next {
  right: 0;
  display: none;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s linear;
}
article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}

.container-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  background: #f1f1f1;
}
.dot.active {
  background: rgb(32, 32, 32);
}

.content-carousel {
  position: absolute;
  width: 100%;
  top: 55%;
  margin-top: 2rem;
  color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
.content-carousel h2 {
  font-family: var(--headerFont);
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
  line-height: 1;
}
.content-carousel p {
  font: 1.1em sans-serif;
  word-wrap: normal;
  font-weight: 400;
  padding-bottom: 0.5rem;
}

@media screen and (min-width: 670px) {
  .container-slider {
    max-width: 100%;
    min-height: 100vh;
  }

  .prev,
  .next {
    top: 50%;
    width: 4rem;
    height: 4rem;
    font-weight: thin;
    font-size: 3.5rem;
  }

  .content-carousel {
    top: 28rem;
    left: 7rem;
    width: 80vw;
    margin: -3rem auto;
  }
}
