.menu-btn {
  padding: 0.5rem 0;
  margin-top: -0.5rem;
}
.menu-icon {
  width: 60px;
  height: 35px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  margin: 1rem;
  cursor: pointer;
  z-index: 500;
  outline: transparent;
}
.menu-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 15%;
  background: hsl(197, 88%, 42%);
  transform: rotate(0deg);
  opacity: 1;
  left: 0;
  border-radius: 4px;
  transition: 0.35s ease-in-out;
}
.menu-icon span:nth-child(1) {
  top: 0;
  width: 0;
  transform-origin: left center;
}
.menu-icon span:nth-child(2) {
  top: 10px;
  transition: left center;
  width: 35%;
}
.menu-icon span:nth-child(3) {
  top: 21px;
  width: 55%;
  /* background: hsl(7, 89%, 39%); */
  transform-origin: left center;
}

.menu-icon.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 1px;
  left: 0px;
  width: 45%;
  background: white;
}
.menu-icon.open span:nth-child(2) {
  opacity: 0;
  width: 0%;
}

.menu-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 20px;
  left: 0px;
  width: 45%;
  background: white;
}
