/* sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--mainBlack);
  color: #ffffff;
  padding: 3rem;
  transform: translateY(-100vh);
  transition: all 0.2s linear;
  z-index: -100;
  box-sizing: border-box;
  overflow-y: hidden;
}
.sidebar.open {
  transform: translate(0);
  z-index: 400;
}

.activeClass {
  color: goldenrod;
  font-weight: 900;
  font-size: 1.2rem;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1.5rem 1.5rem;
  width: 100%;
  margin-top: -1rem;
}
.sidebar-logo a {
  display: flex;
  justify-content: center;
  color: var(--primaryColor);
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 2.5rem;
}
.sidebar-logo img {
  background-color: rgb(5, 135, 211);
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.sidebar-logo span {
  display: block;
  font-size: 1.3rem;
  margin-top: 0.5rem;
  margin-left: 0.8rem;
  font-weight: bold;
}

.sidebar-item-list {
  margin-bottom: 0.5rem;
}

.text-sidebar {
  display: block;
  padding: 0.5rem;
  color: var(--mainWhite);
  font-family: var(--headerFont);
  font-size: 1.3em;
  font-style: italic;
  text-decoration: none;
  text-align: center;
}
