.book {
  padding: 5rem 0 1.5rem 0;
  background: var(--mainWhite);
}

.book img,
.book span {
  display: block;
}

.book-nav {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  padding: 2rem 1rem 0.8rem;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0.7rem;
}

.book-nav span {
  font-weight: bolder;
  font-size: 1rem;
  margin-right: 1rem;
  border-right: 2px solid;
  padding-right: 0.5rem;
}

.book-nav span:last-child {
  border-right: none;
}

.book p {
  font-family: Robot, serif;
  line-height: 1.6;
  font-size: 1.3rem;
  text-align: center;
  padding: 1.3rem;
}

.first-para {
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
}

.book-card {
  box-shadow: 2px -1px 2px rgba(0, 0, 0, 0.1), -2px 1px 2px rgba(0, 0, 0, 0.1);
  margin: 2rem 1rem 1rem;
  text-align: center;
  padding-bottom: 0.2rem;
}

.book-card img {
  width: 100%;
  height: 250px;
}

.book-card h1 {
  font-family: Robot, serif;
  font-weight: 300;
  padding: 1rem 0 0.5rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #222;
}

.book-card span {
  font-size: 1.1rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
  color: var(--mainBlack);
}

.book-btn {
  display: block;
  width: 100%;
  /* margin: 0.5rem 1rem 2rem; */
  padding: 1rem 1rem;
  font-size: 1.1rem;
  color: white;
  background: rgb(53, 53, 196);
  border: none;
  font-weight: 300;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-decoration: none;
}

.book-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  .book-wrapper {
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin: 0 auto;
  }
}
