.faq {
  padding: 1rem;
  background: rgba(27, 13, 3, 0.815);
}

.faq-container {
  background: var(--mainWhite);
  padding: 2.5rem 0.5rem;
}

.faq-header-container {
  border-bottom: 1px solid;
  margin-bottom: 1.5rem;
  padding: 2rem 0;
}

.faq-header-container h2 {
  font-size: 1.3rem;
  font-family: Robot, serif;
  font-weight: 300;
  text-align: center;
}
